# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject
!/nbproject/build-impl.xml

# we use ANT!
/target

# vim
.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

# Mac filesystem dust
/.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/